.SideBar{
    background: white;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 16px;
    width: 200px;
    height: 500px;
}
.assessmentIcon{
    width: 100px !important;
    height: 100px !important;
}
.sideOption  :hover{
    background-color: lightgray;
    cursor: pointer;
}
body{
    margin: 0;
}

