.App{
   
    height: 1000px;
}
.bodys{
    display: flex;
    background-color: whitesmoke;
}
.SideBar{
    flex: 1;
    margin-right: 10px;
    margin-left: 10px;  
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.Body{
    flex: 1;
}
.header{
    height: 80px;
    width: 100%
}
